footer {
    background-color: #00FF00;
    height: 60px;
    width: 100%;
    /* center text*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* set text at bottom */
    position: absolute;
    bottom: 0;
}
